<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>Konstantinos Kasidiaris' CV</title>
   
  <link href="../media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="../media/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link href="../media/academicons.min.css" rel="stylesheet">

  <!-- imports -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ '/media/cv-screen.css?v=' | append: site.github.build_revision | relative_url }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>

  <div class="footer"></div>

</body>
</html>